* {
    margin: 0px;
    padding: 0px;
}

#banner {
	height: 1000px;
	padding-top: 50px;
	background: url(images/pinball_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.95;
    background-attachment: fixed;
    text-align: center;
    text-shadow: 1px 1px black;
    color: #cececa;
    float:left;
}

.spacer {
	width: 100%;
	height:80px;
	clear: both;
}


nav {
	position: fixed;
	border: none!important;

}

nav ul {
	list-style: none;
}

nav ul li {
	transition: background 0.5s;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

.navbar-header {
	transition: background 0.5s;
	cursor: pointer;
	padding: 10px;
}

nav ul li:hover {
	background: orange;
}

nav a {
	color: white;
}

#section {
	padding: 8% 0 4% 0;
}

#article img, #article_1 img, #article_2 img {
	width: 100%

}

.image_block img {
    width: 100%;
}

.article_title {
	text-align: center;
	font-size: 25px;
	margin: 20px;
}

.article_description {
	text-align: center;
	font-size: 20px;
}

#about {
	clear: both;
	color:#8A8A89;
}


.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 44px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 1em; 
}


/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 

@media (max-width: 767px) {
    
}

#games {
	border-radius: 
}

.repairs {
	clear: both;
}

.repair_blocks {
	background: #DAD9D0;
	padding: 25px;
	font-size: 55px;
}

.before_after {
	padding: 20px;
	font-size: 55px;
}

.before_after img {
	width: 85%;
	height: 85%;
}


.games_background {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(images/pinball_2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.events_background {
  height: 100%;
  position: absolute;
  background-image: url(images/pinball_4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.container-fluid .row {
    margin-left: 0px;
    margin-right: 0px;
}


.container-fluid{
    padding:0  !important;
}

.modalcontent {
	padding-top: 10px;
	background: blue;
}

#fix a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	}


#Test_Q {
    font-size: 1200%;
}

#Welcome_sign {
	font-size: 75px;
}

@media all and (max-device-width: 720px){
    #Test_Q {
        font-size: 18px;
    }
    h3 {
    	font-size: 20px;
    }
}

@media all and (max-device-width: 640px){
    #Test_Q {
        font-size: 600%;
    }
    #Welcome_sign {
    	font-size: 50px;
    }
}

@media all and (max-device-width: 320px){
    #Test_Q {
        font-size: 300%;
    }
    h3 {
    	font-size: 20px;
    }
}	